@model LeaveTypeVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
    </dl>
</div>
<br />
<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    
</div>
